<h3>Please, enter your name to start</h3>

<form class="form" action="/login" method="POST">
    <div class="form-group">
        <label for="inputName" class="sr-only">Your Name:</label>
        <input type="text" name="nickname" id="inputName" class="form-control" placeholder="Your Name">
    </div>

    <button class="btn btn-md btn-primary btn-block" type="submit">Start</button>
</form>
